<html>
    <%- include head.ejs %>
    <body>
  <%- include header.ejs%>
  <%- include tynimce.ejs%>
       <main id="main">
          <form id="my-form" action="/upload/" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;  height:0;overflow:hidden">
            <input id="img-t" name="image" type="file"></form>
          <form action="/admin/add-page" method="post" id="my-form">

          Title: <input type="text" id='title' name="title">
          Meta Keywords: <input type="text" name="keywords"><br>
          Meta Description: <input type="text" name="description">
          Category: 
          <select name="category">
              <option value='primary'>Primary</option>
              <% if (categories) { %>
                  <% categories.forEach(function(category){ %>
                    <option value=<%= category.title %>><%= category.title %></option>
                  <% }) %>
              <% } %>
          </select>
          <input type="file" name="image">
          <textarea id="tinymce" name="textarea"></textarea>
            <!--<div class="g-recaptcha" data-sitekey="6LeOsxsUAAAAAL1exdojhYgR3vPoHt-RioEB2r64"></div>-->
          <input type="submit" value="Submit">
         </form>


<script>

$('#ajax-btn').click(function(e){
  $.ajax({
  method: "POST",
  url: "/t",
}).done(function(msg){
  $('form').html(msg)
})
})

</script>
       <main>

       <% if(typeof locals.img != 'undefined') { %>
          <img src=<%= img %>>
       <% } %>
       
       </main>

     
        <script>
  tinymce.init({
    selector: '#tinymce',
    plugins: ["image"],
    file_picker_callback: function(field_name, url, type, win) {
      if(type=='image') {
        $('#img-t').click(function(){
          console.log(111)
           $('#my-form').submit()
        })
      }
     }
  });
  </script>



    </body>
</html>