<%- include base.ejs %>
  <head>
      <%- include head.ejs%>
      <%- include helpers/summernote.ejs %>
         <script src="/admin/bundle.js"></script>
  </head>
    <%- include header.ejs%> 
    <main id="main" class="container">
       <form id="my-form" action="/upload/" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
         <input id="img-t" name="image" type="file">
      </form>

       <% if (data.pageData) { %>
    <form action="/admin/pages/edit/<%= data.pageData.slug %>" method="post" id="my-form">
        <div class="form-group">
            <label for="title">Title / Page name</label>
            <input type="text" name="title" value="<%= data.pageData.title %>"" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Meta Description</label>
          <input type="text" name="description" class="form-control" value="<%= data.pageData.description %>">
        </div>
        <div class="form-group">
          <label for="meta-keywords">Meta keywords</label>
          <input type="text" name="keywords" class="form-control" value="<%= data.pageData.keywords%>">
        </div>
        <div class="form-group">
                <label for="title"> Category</label>
                <select name="category" class="form-control">
                <% if (data.categoriesData) { %>             
                  <option value='primary'>Primary</option>
                    <% data.categoriesData.forEach(function(category){ %>
                       <% if (category.title === data.pageData.parentCategory.name) {%>
                          <option selected value="<%= category.title %>"><%= category.title %></option>
                       <% } else { %> 
                          <option value="<%= category.title %>"><%= category.title %></option>
                        <% } %>
                    <% }) %>
                  <% } %>
                </select>
            </div>
        <div class="form-group">
              <div id="file-manager"></div>
        </div>     
        <div class="form-group">
          <textarea id="summernote" name="textarea" class="form-control"><%= data.pageData.textarea %></textarea>
       </div>
         <div class="form-group">
          <input type="submit" class="btn btn-lg btn-danger" value="Submit">
        </div>
      <% } %> 
    </form>
   
<script>

$('#ajax-btn').click(function(e){
  $.ajax({
  method: "POST",
  url: "/t",
}).done(function(msg){
  $('form').html(msg)
})
})

</script>


       <% if(typeof locals.img != 'undefined') { %>
          <img src=<%= img %>>
       <% } %>
       
       </main>

  <script>
$(document).ready(function() {
  $('#summernote').summernote();
})
</script>
     

    </body>
</html>