<html>
  <head><%- include head.ejs%></head>
  <body>
  <%- include header.ejs %>
  
  <main id="main" class="container">
    <div class="row">
      <div class='col-sm-12 col-md-12 col-lg-12'>
        
          <% if (data) { %>
            <% data.forEach(function(page){ %>
              <div class="row padding-1-0">
                <div class="col-md-6 col-lg-6">
                  <a href=<%= 'edit/' + page.slug %>><%= page.title %></a>
                </div>
                <div class="col-md-6 col-lg-6">
                  <form action=<%='/admin/delete-page/' + page.slug %> method="post" id="delete-form">
                  <input type="submit" class="btn btn-inverse" value="Delete">
                  </form>
                </div>
              </div>
            <% }) %>
          <% } %>
        
      </div>
    </div>


<script>

$(document).ready(function(){

$('.delete-button').click(function(el){
  el.preventDefault();
  var s = $(this).attr('data-del');
  var url = "delete-page/" + s;
  console.log(url)
  $.ajax({
  method: "POST",
  url: url,
}).done(function(msg){
 console.log(msg)
})
})
})


</script>
<%- include footer.ejs%>
    </body>
</html>
