<%- include base.ejs %>
    <head>
        <%- include head.ejs %>
    </head>
    <body>
        <%- include header.ejs %>
        <main class="container">
            <div class="row">
                <div class="col-md-6">
                     <form action="/admin/settings/password/change" method="post">
                        <div class="form-group">
                            <label for="change"changePassword">Old password</label>
                            <input class="form-control" type="password" name="oldPassword" id="oldPasswordInput">
                            <% if (data.oldPassworderrorMessage) { %>
                                <span><%= data.oldPassworderrorMessage %></span>
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="change"changePassword">New password</label>
                            <input class="form-control" type="password" name="newPassword" id="newPasswordInput">
                        </div>
                           <% if (data.repeatPassworderrorMessage) { %>
                                <span><%= data.repeatPassworderrorMessage %></span>
                            <% } %>
                            <% if (data.minMaxSymbols) { %>
                                <span><%= data.minMaxSymbols %></span>
                            <% } %>
                        <div class="form-group">
                            <label for="change"changePassword">New password repeat</label>
                            <input class="form-control" type="password" name="newPasswordRepeat" id="newRepeatPasswordInput">
                        </div>
                         <div class="form-group">
                            <input class="btn btn-lg btn-danger" type="submit" value="Submit">
                        </div>
                     </form>
                </div>

            </div>
        </main>
    </body>
</html>